<div class="container">
    <img class="wave" src="../assets/img/wave2.png">

    <div class="register">

        <div class="logo">
            <img src="../assets/img/logo.png" alt="">
        </div>
        <div class="form">
            <img src="../assets/img/avatar.png">

            <form #f="ngForm">
                <div class="form-floating mb-3">
                    <input type="username" class="form-control" id="floatingInput" placeholder="last name" name="lastName" [(ngModel)]="form.lastName">
                    <label for="floatingInput">last Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="username" class="form-control" id="floatingInput" placeholder="first name" name="firstName" [(ngModel)]="form.firstName">
                    <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="phone number " name="phone" [(ngModel)]="form.phone">
                    <label for="floatingPassword">number phone </label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingPassword" placeholder="name@example.com" name="email" [(ngModel)]="form.email">
                    <label for="floatingPassword">Email </label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="form.password">
                    <label for="floatingPassword">Password</label>
                </div>

                <a href="#">Forgot Password?</a>
                <a routerLink="/login">
                    <button type="submit" class="btn" (click)="register(form)">
                Register
            </button>
                </a>
            </form>
        </div>


    </div>
</div>