<div class="container">
    <img class="wave" src="../assets/img/wave2.png">

    <div class="register">

        <div class="logo">
            <img src="../assets/img/logo.png" alt="">
        </div>
        <div class="form">
            <h1>Restaurant Register</h1>
            <form #f="ngForm">
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="name"
                                name="name" [(ngModel)]="form.name">
                            <label for="floatingInput">Name</label>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="Email"
                                    name="email" [(ngModel)]="form.email">
                                <label for="floatingInput">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="" placeholder="password" name="password"
                        [(ngModel)]="form.password">
                    <label for="floatingPassword">Passowrd</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="" placeholder="name@example.com" name="phone"
                        [(ngModel)]="form.phone">
                    <label for="floatingPassword">Phone </label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="" placeholder="Postion" name="positon"
                        [(ngModel)]="form.position">
                    <label for="floatingPassword">Postion</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="" placeholder="Logo" name="logo"
                        [(ngModel)]="form.logo">
                    <label for="floatingPassword">Logo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="" placeholder="Logo" name="cover"
                        [(ngModel)]="form.cover">
                    <label for="floatingPassword">Cover</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" id="" placeholder="Logo" name="description"
                        [(ngModel)]="form.description"></textarea>
                    <label for="floatingPassword">Description</label>
                </div>
                <a routerLink="/RestaurentLogin">You have an account?</a>
                
                    <button type="submit" class="btn" (click)="register(form)">
                        Register
                    </button>
                
            </form>
        </div>


    </div>
</div>