<app-nav-rest></app-nav-rest>

<div class="container">
    <br>
    <h1 style="text-align:center">MY <span style="color:rgb(255, 94, 0);">BASKET</span></h1><br>

    <div class="row">

        <table class="table table-light table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Name</th>
                    <!-- <th scope="col">quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th> -->

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fod of foods; index as i;">
                    <td><img [src]="fod.img" alt="" class="img"></td>
                    <td><p>{{fod[i]}}</p></td>
  

                </tr>
                
            </tbody>
        </table>
        
    </div>

    <span style="float:right; margin-right:10px">
      <a ><button class="btn btn-success"><i class="fa fa-check" style="color:white;"></i>Confirm</button></a>
    </span>
</div>