<app-side-bar-admin></app-side-bar-admin>

<div class="container">

    <div class="bloc">

        <p class="p">Pro<span style="color: rgb(247, 97, 10);">fil</span></p>

        <p>last na<span style="color: rgb(247, 97, 10);">me:</span>  {{user.lastName}}</p>
        <p>first na<span style="color: rgb(247, 97, 10);">me:</span> {{user.firstName}}</p>
        <p>number pho<span style="color: rgb(247, 97, 10);">ne:</span>{{user.phone}}</p>
        <p>Ema<span style="color: rgb(247, 97, 10);">il:</span> {{user.email}}</p>


    </div>


</div>
