<div [ngClass]="{'sidebar':true,'active':check}" style="z-index: 1000;">
    <div class="log_content">
        <div class="logo">
            <i class='bx bx-qr-scan' style="color: white;"></i>
            <div class="logo_name">ServerLab</div>
        </div>
        <i class='bx bx-menu-alt-left' id="btn" (click)="toggle()"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a routerLink="/profil">
                <i class='bx bx-user' style="color: rgb(0, 0, 0);"></i>
                <span class="links_name">Profil</span>
            </a>
            <span class="tool">Dashbored</span>
        </li>
        <li *ngIf="!test">
            <a routerLink="/dashbored">
                <i class='bx bx-grid-alt' style="color: rgb(0, 0, 0);"></i>
                <span class="links_name">Dashbored</span>
            </a>
            <span class="tool">Dashbored</span>
        </li>


        <li>
            <a routerLink="/servers">
                <i class='bx bx-server' style="color: rgb(0, 0, 0);"></i>
                <span class="links_name">Servers</span>
            </a>
            <span class="tool">Servers</span>
        </li>
        <li>
            <a routerLink="/addServer/ec2">
                <i class='bx bxs-add-to-queue' style="color: rgb(0, 0, 0);"></i>
                <span class="links_name">Add Server</span>
            </a>
            <span class="tool">Add Server</span>
        </li>
        <li>
            <a routerLink="/User">
                <i class='bx bx-user-pin' style="color: rgb(0, 0, 0);"></i>
                <span class="links_name">Users</span>
            </a>
            <span class="tool">Users</span>
        </li>
        <li>
            <a routerLink="/Inscri">
                <i class='bx bx-user-plus' style="color: rgb(0, 0, 0);"></i>
                <span class="links_name">Add User</span>
            </a>
            <span class="tool">Add User</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <div class="name_job">
                    <div class="name">{{name}}</div>
                    <div class="job">{{role}}</div>
                </div>
            </div>
            <a><i class='bx bxs-log-out' id="log_out" ></i></a>
        </div>
    </div>
</div>