<app-navbar></app-navbar>
<div class="container">
    <br>
    <h1 style="text-align:center">MY <span style="color:rgb(255, 94, 0);">BASKET</span></h1><br>

    <div class="row">

        <table class="table table-light table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Name</th>
                    <th scope="col">quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cart of carts; index as i;">
                    <td><img [src]="carts[i].order.img" alt="" class="img"></td>
                    <td><p>{{carts[i].order.name}}</p></td>
                    <td><p>{{carts[i].quantity}}</p></td>
                    <td><p>{{carts[i].order.price}} TND</p></td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteFromCart(carts[i].order._id)"><i class='bx bx-trash'></i></button>
                    </td>


                </tr>
                
            </tbody>
        </table>
        <h4>Total:{{total}} TND</h4>
    </div>

    <span style="float:right; margin-right:10px">
      <a ><button class="btn btn-success"><i class="fa fa-check" style="color:white;"></i>Confirm</button></a>
    </span>
</div>