<img src="/assets/img/back.jpg" alt="">

<div class="container">
    <br>
    <h1 style="text-align:center">MY <span style="color:rgb(255, 94, 0);">BASKET</span></h1><br>

    <div class="row">

        <table class="table table-light table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <span style="float:right; margin-right:10px">
      <a href=""><button class="btn btn-success"><i class="fa fa-check" style="color:white;"></i>Confirm</button></a>
    </span>
</div>