<nav class="navbar navbar-expand-lg bg-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" class="logoIcon"></a>
      <button class="navbar-toggler" type="button" id="white"data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="" style="color: white;"><i class='bx bx-menu' style="font-size:30px"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" id="white">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="white">Restaurent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="white">Contact us</a>
          </li>
          <li class="nav-item dropdown" id="white">
            <a class="nav-link dropdown-toggle btn btn-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
              brain_bags
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Profil</a></li>
              <li><a class="dropdown-item" href="#">My Card</a></li>
              <li><a class="dropdown-item" href="#">Disconnect</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>