<br><br>
<footer class="footer" >

    <div class="container">
        <br>

            <span>© 2021 BestFood LLC Tous droits réservés.</span>

    </div>
    <span><i class="fa fa-phone"></i>+21655454881</span><br>
    <span><i class="fa fa-envelope"></i>BestFood@gmail.com</span>

        <h5>Follow Us on </h5>
        <p style="font-size:1.5rem;color:white;" >
            <a href="#" style="color:white;margin: 2px;"><i class='bx bxl-facebook-circle icon1'></i></a>
            <a href="#" style="color:white;margin: 2px;"><i class='bx bxl-instagram-alt icon1' ></i></a>
            <a href="#" style="color:white;margin: 2px;"><i class='bx bxl-pinterest icon1' ></i></a>
            <a href="#" style="color:white;margin: 2px;"><i class='bx bxl-twitter icon1'></i></a>
          
        </p>
    
    <br>
</footer>