<app-side-bar-admin></app-side-bar-admin>
<div class="container">
    <div class="bloc">
        <p class="p">Restouran<span style="color: rgb(247, 97, 10);">ts</span></p>

        <table class="table">
            <thead>
                <button type="submit" class="btn btn-success">add</button>

                <tr>
                    <th scope="col">last name</th>
                    <th scope="col">First name</th>
                    <th scope="col">phone</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>

                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="submit" class="btn btn-danger">modife</button>
                            <button type="submit" class="btn btn-warning">delete</button>

                        </div>
                    </td>

                </tr>


            </tbody>
        </table>


    </div>

</div>
