.sign {
    color: white;
    background-color: rgb(255, 94, 0);
  }
  .sign:hover {
    color: rgb(255, 94, 0);
    background-color:rgba(255, 255, 255, 0) ;
   border: 1px solid rgb(255, 94, 0);
    
  }
  .cen{
    
    display: block;
    text-align: -webkit-center;


  }