<div class="container">

    <div class="center">
        <div class='row'>
            <br>
            <!-- ---------- -->

            <div class='col' *ngFor="let food of foods">
                <div *ngIf="food.category is desert" style="width: 15rem; height:auto;">
                    <img [src]="food.img" class='card-img-top'
                        style="width:'150px';height:'auto';margin:auto;margin-top: 10px;">
                    <div class='card-body 1-light text-dark b' style='text-align:center;font-weight:bold'>
                        <h4 class='card-title' style='color:black;text-align:center'>{{food.name}}</h4>
                        <p class='card-text' style='color:rgb(43, 184, 62);'>{{food.price}}$</p>
                        <p class="card-text" style='color:rgb(43, 184, 62);'>Available</p>
                    </div>
                    <div class='card-body '>
                        <a class="card-link btn btn-buy">BUY NOW <i class="fa fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
            <br>
        </div>



    </div>

</div>