<div class="container">
    <div class='row'>
        <br>
        <!-- ---------- -->

        <div class='col-sm'>
            <div class='card' style='width: 15rem; height:25rem;'>
                <img src="assets/img/1.png" class='card-img-top'>
                <div class='card-body 1-light text-dark b' style='text-align:center;font-weight:bold'>
                    <h4 class='card-title' style='color:black;text-align:center'>saleet</h4>
                    <p class='card-text' style='color:rgb(43, 184, 62);'>200</p>
                    <p class="card-text" style='color:rgb(43, 184, 62);'>Available</p>
                </div>
                <div class='card-body '>
                    <a class="card-link btn btn-buy">BUY NOW <i class="fa fa-cart-plus"></i></a>
                </div>
            </div>
            <br>
        </div>
        <!-- ---------- -->

        <div class='col-sm'>
            <div class='card' style='width: 15rem; height:25rem;'>
                <img src="assets/img/1.png" class='card-img-top'>
                <div class='card-body 1-light text-dark b' style='text-align:center;font-weight:bold'>
                    <h4 class='card-title' style='color:black;text-align:center'>saleet</h4>
                    <p class='card-text' style='color:rgb(43, 184, 62);'>200</p>
                    <p class="card-text" style='color:rgb(43, 184, 62);'>Available</p>
                </div>
                <div class='card-body '>
                    <a class="card-link btn btn-buy">BUY NOW <i class="fa fa-cart-plus"></i></a>
                </div>
            </div>
            <br>
        </div>
        <!-- ---------- -->
        <div class='col-sm'>
            <div class='card' style='width: 15rem; height:25rem;'>
                <img src="assets/img/1.png" class='card-img-top'>
                <div class='card-body 1-light text-dark b' style='text-align:center;font-weight:bold'>
                    <h4 class='card-title' style='color:black;text-align:center'>saleet</h4>
                    <p class='card-text' style='color:rgb(43, 184, 62);'>200</p>
                    <p class="card-text" style='color:rgb(43, 184, 62);'>Available</p>
                </div>
                <div class='card-body '>
                    <a class="card-link btn btn-buy">BUY NOW <i class="fa fa-cart-plus"></i></a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>