.bloc {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.123);
  width: 60vw;
  padding: 2vw;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

p {
  font-size: 20px;
}

.p {
  display: block;
  text-align: -webkit-center;
  font-size: 50px;
}
